/*
 * agogo.css_t
 * ~~~~~~~~~~~
 *
 * Sphinx stylesheet -- modified from the agogo theme.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :copyright: Some modifications copyright 2012 by the IPython team.
 * :copyright: Some modifications copyright 2012 by Lambda Foundry, Inc.
 *
 * :license: BSD, see LICENSE for details.
 *
 */

* {
  margin: 0px;
  padding: 0px;
}

div.header-wrapper {
  border-top: 0px solid #babdb6;
  padding: 1em 1em 0;
  min-height: 0px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.4em;
  color: black;
  background-color: white;
}


/* Page layout */

div.header, div.content {
  max-width: 55em;
  margin-left: auto;
  margin-right: auto;
}

div.header-wrapper {
  border-bottom: 0px solid #2e3436;
}


/* Default body styles */
a {
  color: #A31E39;
}

div.bodywrapper a, div.footer a {
  text-decoration: underline;
}

.clearer {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.line-block {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.line-block .line-block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1.5em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  color: #485C5A;
  margin-bottom: .8em;
}

h1 {
  color: #485C5A;
  line-height: 1.1em;
  text-align: left;
}

h2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #485C5A;
}

a.headerlink {
  visibility: hidden;
  color: #A31E39;
  padding-left: .3em;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}

img {
  border: 0;
}

pre {
  background-color: #EEE;
  padding: 0.5em;
}

div.admonition {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 7px 1px 7px;
  border-left: 0.2em solid black;
}

p.admonition-title {
  margin: 0px 10px 5px 0px;
  font-weight: bold;
}

dt:target, .highlighted {
  background-color: #fbe54e;
}

/* Header */

div.header {}

div.header h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 250%;
  letter-spacing: .08em;
  line-height: 70px;
  margin-bottom: 0;
}

div.header h1 a {
  color: white;
}

div.header h1 a:hover {
  text-decoration: none;
}

div.header div.rel {
  margin-top: 1em;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  padding: 7px;
  text-align: center;
  background-color: #D6E4E1;
}

div.header div.rel a {
  color: #A31E39;
  letter-spacing: .05em;
  font-weight: bold;
}

div.logo {}

img.logo {
    border: 0;
}


/* Content */
div.content-wrapper {
  background-color: white;
  padding: 1em;
}

div.document {
  max-width: 40em;
}

div.body {
  padding-right: 2em;
  text-align: justify;
}

div.document ul {
  margin: 1.5em;
  list-style-type: square;
}

div.document li {
	margin-bottom:1em;
}

div.document dd {
  margin-left: 1.2em;
  margin-top: .4em;
  margin-bottom: 1em;
}

div.document .section {
  margin-top: 1.7em;
}
div.document .section:first-child {
  margin-top: 0px;
}

div.document div.highlight {
  padding: 3px;
  background-color: #eeeeec;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  margin-top: .8em;
  margin-bottom: .8em;
}

div.document h2 {
  margin-top: 2em;
}

div.document p {
  margin-bottom: .5em;
}

div.document li.toctree-l1 {
  margin-bottom: 1em;
}

div.document .descname {
  font-weight: bold;
}

div.document .docutils.literal {
  background-color: #eeeeec;
  padding: 1px;
}

div.document .docutils.xref.literal {
  background-color: transparent;
  padding: 0px;
}

div.document blockquote {
  margin: 1em;
}

div.document ol {
  margin: 1.5em;
}


/* Sidebar */

div.sphinxsidebar {
  width: 15em;
  padding: 0 1em;
  float: right;
  font-size: .93em;
  background-color: white;
}

div.sphinxsidebar a, div.header a {
  text-decoration: none;
}

div.sphinxsidebar a:hover, div.header a:hover {
  text-decoration: underline;
}

div.sphinxsidebar h3 {
  color: #485C5A;
  text-transform: uppercase;
  font-size: 130%;
  letter-spacing: .1em;
  margin-bottom: .4em;
}

div.sphinxsidebar h4 {
  margin-bottom: 0;
  font-weight: bold;
}

div.sphinxsidebar .tile {
  border: 1px solid #8C9C9A;
  border-radius: 1px;
  background-color: #D6E4E1;
  padding-left: 0.5em;
  margin: 1em 0;
}

div.sphinxsidebar ul {
  list-style-type: none;
}

div.sphinxsidebar li.toctree-l1 a {
  display: block;
  padding: 1px;
  border: 1px solid #dddddd;
  background-color: #eeeeec;
  margin-bottom: .4em;
  padding-left: 3px;
  color: #2e3436;
}

div.sphinxsidebar li.toctree-l2 a {
  background-color: transparent;
  border: none;
  margin-left: 1em;
  border-bottom: 1px solid #dddddd;
}

div.sphinxsidebar li.toctree-l3 a {
  background-color: transparent;
  border: none;
  margin-left: 2em;
  border-bottom: 1px solid #dddddd;
}

div.sphinxsidebar li.toctree-l2:last-child a {
  border-bottom: none;
}

div.sphinxsidebar li.toctree-l1.current a {
  border-right: 5px solid #fcaf3e;
}

div.sphinxsidebar li.toctree-l1.current li.toctree-l2 a {
  border-right: none;
}

div.sidebarblock {
  padding-bottom: .4em;
  border-bottom: 1px solid #AAA;
  margin-bottom: .8em;
}


/* Footer */

div.footer-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.footer {
  border-top: 1px solid #aaa;
  padding-top: 3px;
  text-align: right;
  font-size:0.9em;
}

div.footer, div.footer a {
  color: #8C9C9A;

}


/* Styles copied from basic theme */

img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    clear: both;
    text-align: center;
}

.align-right {
    text-align: right;
}

/* -- index page ------------------------------------------------------------ */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

/* -- general index --------------------------------------------------------- */

table.indextable td {
    text-align: left;
    vertical-align: top;
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}